<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listners>
<listner class-name="excel.excel.ExtentListenerClass"	
</listners>	
  <test thread-count="5" name="Test">
    <classes>
      <class name="excel.excel.ExtentreportDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
